#registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 10px; /* Adjust the padding as needed */
}

#registrationForm label {
  margin-bottom: 10px;
}

#registrationForm input[type="text"],
#registrationForm input[type="password"],
#registrationForm input[type="email"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#registrationForm button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

body {
background-image: url(bkg_register_V2.png)
}
h1 {
text-align: center;
background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-height: 120vh;

  position: relative;
  bottom: -200px;
  background-color: #f2f2f2;
  padding: 20px;
}

.frame {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}
